.hero{
  padding-top: 160px;
  padding-bottom: 160px;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  &__container{
    display: flex;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__title{
    font-size: 120px;
    font-weight: 100;
    color: $accentColor;
  }
  &__title-span{
    display: block;
    font-size: 38px;
    font-weight: 400;
    color: #666;
  }
  &__text {
    font-size: 20px;
    line-height: 150%;
    color: #666;
  }

}
